.header {
	background-image: url(../../assets/Header-bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	height: 80vh;
}

.container {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 10px;
}

a {
	text-decoration: none;
	color: #ffffff; 
}