.header {
	background-image: url(../../assets/Header-bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	height: 80vh;
}

.header2{
	background-image: url(../../assets/Header2.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	height: 60vh;
}

.header3{
	background-image: url(../../assets/Header3.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	height: 60vh;
}

a {
	text-decoration: none;
	color: #ffffff; 
}