<div class="footer">
    <div class="container">
        <div class="info-block__footer">
            <p class="fs">Связь с нами:</p>
            <br>
            <div class="info__footer">
                <p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/WhatsApp_logo-color-vertical.svg/2048px-WhatsApp_logo-color-vertical.svg.png" width="15px" alt=""> WhatsApp: +1 234 567 78 90</p>
                <p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/800px-Instagram_logo_2016.svg.png" width="15px" alt=""> Instargram: LegendaryAutoRent</p>
            </div>
            <br>
            <div class="info__footer2">
                <p>e-mail: LegendAutoMail@gmail.com</p>
            </div>
        </div>
    </div>
</div>