<div class="center2">
    <div class="container">
        <div class="h_info">
            <p class="fs">Эксклюзивные авто</p>
        </div>
        <div class="center__inner2">
            <app-car-block></app-car-block>
            <app-car-block></app-car-block>
            <app-car-block></app-car-block>
            <app-car-block></app-car-block>
            <app-car-block></app-car-block>
            <app-car-block></app-car-block>
            <app-car-block></app-car-block>
            <app-car-block></app-car-block>
            <app-car-block></app-car-block>
            <app-car-block></app-car-block>
            <app-car-block></app-car-block>
            <app-car-block></app-car-block>
        </div>
    </div>
</div>
