<div class="center2">
    <div class="container">
        <div class="h_info">
            <p class="fs">Эксклюзивные авто</p>
        </div>
        <div class="center__inner2">
            <div class="direction__item" *ngFor="let car of carList">
                <img [src]="car.photos[0]" alt="" class="direction__img">
                <p class="description__text">
                    {{ car.manufacturer }} {{ car.model }}
                    <a [routerLink]="['/cars', car.id]" class="btn-car__info">Подробнее</a>
                </p>
            </div>
        </div>
    </div>
</div>
