.center2 {
	padding-bottom: 100px;
}
.h_info {
	padding: 40px 40px 0 40px;
	background-color: #171717;
}
.center__inner2 {
	padding: 40px;
	background-color: #171717;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 35px; 
}
