@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap);

*,
*::after,
*::before{
	box-sizing: border-box;
	margin: 0;
	position: 0;
}

body {
	font-family: 'Roboto Mono', monospace;
	background-color: #303030;
	color: #ffffff;
}

a {
	text-decoration: none;
	color: #ffffff; 
}

h2 {
	font-size: 24px;
}

.container{
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 10px;
}

.fs {
	font-size: 21px;
}