<div class="center">
    <div class="container">
        <div class="center__inner">
            <div class="info-block">
                <div class="info">
                    <p class="fs">Legendary Auto</p>
                    <br>
                    <p>Это одна из крупнейших компаний по аренде авто марки Porsche. В ассортименте имеется сотни авто на любой случай. Вы можете выбрать свой автомобиль прямо сейчас. </p>
                </div>
                <div class="button">
                    <a routerLink="/cars" class="btn">К аренде</a>
                </div>
            </div>
            <div class="photo">
                <img src="../../assets/photo-center.jpg" alt="Porsche">
            </div>
        </div>
    </div>
</div>
<div class="center-photo"></div>
